<% flash.each do |flash_type, message| %>
  <div
    class="flash__message notification is-info is-light"
    data-controller="removals"
    data-action="animationend->removals#remove"
  >
    <%= message %>
  </div>
<% end %>
